.carousel-image {
    height: 400px;
    object-fit: cover;
}

.custom-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 0;
  }
